<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    backsplash: "<%= image_path("backsplash/cropped-backsplash.jpg") %>",
    happyhour: "<%= image_path("happyhourdrinks.png") %>",
    gold_star: "<%= image_path("stars/gold_star.png") %>",
    silver_star: "<%= image_path("stars/silver_star.png") %>",
    half_star: "<%= image_path("stars/half_star.png") %>"
  }
</script>

<main id="root"></main>
