<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    backsplash: "<%= image_path("backsplash/cropped-backsplash.jpg") %>",
    cocktails: "<%= image_path("categories/cocktail.png") %>",
    food: "<%= image_path("categories/food.jpg") %>",
    oysters: "<%= image_path("categories/oyster.png") %>",
    beer: "<%= image_path("categories/beer.png") %>",
    happyhour: "<%= image_path("happyhourdrinks.png") %>",
    cocktail: "<%= image_path("restaurant-show/cocktail.jpg") %>",
    oyster: "<%= image_path("restaurant-show/oysters.jpg") %>"
  }
</script>

<main id="root"></main>
